<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mLight Signature</title>

    <style>
        table,
        tbody,
        tr,
        td {
            /* border: 1px solid red; */
            /* border-collapse: collapse; */
        }
    </style>
</head>

<body>
    <table style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-style: normal; font-size: 15px;" width="600" height="240"
        cellspacing="0" cellpadding="0" border-collapse="collapse" ;>
        <tbody width="600" height="240" cellspacing="0" cellpadding="0">
            <tr height="80" width="600">
                <td colspan="2">
                    <p style="margin: 0;">Kind regards,</p>
                    <br />
                    <h4 style="margin: 0;">{name}</h4>
                    <p style="margin: 0;">{position}</p>
                </td>
            </tr>
            <tr height="100" width="600">
                <td width="200" height="100">
                    <img style="width: 200px;" src="http://mlight.com.au/signature/images/mlight-logo-color.png" alt="mLight illumination engineering">
                </td>
                <td style="padding-left: 15px;" width="400" height="100">
                    <p style="margin: 0;">
                        <a style="color: #000; text-decoration: none;" href="tel:{mobile}">
                            <strong>M: </strong>{mobile}</a> |
                        <a style="color: #000; text-decoration: none;" href="tel:{phone}">
                            <strong>P: </strong>{phone}</a>|
                        <a style="color: #000; text-decoration: none;" href="tel:{fax}">
                            <strong>F: </strong>{fax}</a>
                    </p>
                    <p style="margin: 0;">59A Rimfire Drive, Hallam, VIC 3803</p>
                    <p style="margin: 0;">
                        <strong>
                            <a style="color: #000; text-decoration: none;" href="mlight.com.au">mlight.com.au</a> |
                            <a style="color: #000; text-decoration: none;" href="mailto:{email}">{email}</a>
                        </strong>
                    </p>
                </td>
            </tr>
            <tr height="60" width="600" cellpadding="0" cellspacing="0">
                <td style="vertical-align: top;" height="60" width="600" colspan="2" cellpadding="0">
                    <img width="600" height="60" style="margin: 0; padding: 0;" src="http://mlight.com.au/signature/images/mlight-email-signature-footer.jpg"
                        alt="Integrate light with life, beautifully">
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>